#background-gradient {
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(180deg, #13191E 0%, #2F4858 52.6%, #006776 100%), #2F4858;
    mix-blend-mode: normal;
}

#launch-button {
    
    position: absolute;
    right: 120px;
    bottom: 120px;

    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}

#grass {
    position: absolute;
    width: 3066px;
    height: 148px;
    right: 0px;
    bottom: 0px;

}

#stock-button {
    position: absolute;
    top: 0px;
}

#stars {
    left: 0px;
    bottom: 0px;
}

body {
    overflow: hidden;
}