#background-gradient {
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(180deg, #13191E 0%, #2F4858 52.6%, #006776 100%), #2F4858;
    mix-blend-mode: normal;
}

#doge-clicker {
    width: 400px;
}

#elon {
    height: 400px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    
}

#elonmeter {
    
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
    text-align: center;
}

#elonmeter, #stats, #info-bar {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

#game-container {
    top: 60%;
    transform: translateY(-60%);
    width: 100%;
    position: absolute;
    margin: 0 auto;
    z-index: 0;
}

#doge-price {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;

    color: #F8BF1A;
}

#start-btn-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    outline: none;
    margin: 10px;
}

#start-menu {
    top: 50px;
}

.insider {
    white-space: pre-line;
    color: #B4AA99;
    font-family: Roboto;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
}

#game-btns {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

#stats {
    top: 100px;
    position: relative;
    text-align: center;
    float: left;
    margin-left: 50px;
}

#crashed {
    color: red;
}
