#text-nav {
position: absolute;
width: 183px;
height: 56px;
// right: 1110px;
top: calc(50% - 56px/2 - 348px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;
}


/*ul {
    list-style-type: none;
    padding: 5px;   
}

li {
    float:left;
}

li a {
    color: #F8BF1A;
    text-align: left; 
    padding: 15px 17px;
    text-decoration: none;
}*/

