#rules {
    height: 600px;
    width: 600px;
    background: linear-gradient(180deg, #006E61 0%, #DFE0DF 52.6%, #FE8A7D 100%), #2F4858;
    mix-blend-mode: normal;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}